.section-heading{
    margin-bottom: 30px;
    font-size: 30px;
    @include apply-font('regular');
}

// dashboard section heading

.d-section-heading{
    font-size: 25px;
    @include apply-font('regular');
    margin-bottom: 63px;
    color: $gray-800;

    .section-action{
        display: flex;
        justify-content: start;
        .action{
            margin-left: 15px;
            a{
                background-color: transparent;
                padding: 3px 25px;
                margin-top: -5px;
            }
            .btn-primary{
                color: $primary;
            }
            .btn-danger{
                color: $danger;
            }
        }
    }
    
}